*{
  margin: 0;
  padding: 0;
}
body{
    color: #fff;
    background-color: #01052c;
    background-position : top right;
    background-repeat: no-repeat;
    

}
@font-face {
  font-family:'NHL';
  src:url('NHL.ttf');
 
}
#imagens{
  margin:10px;
  
}
h1{
  font-size: 100px;
  font-family:NHL;
  }

#introdução {
    text-align: center;
    margin: auto;
    padding: 15px;
}
#sobre-mim{
  text-align: center;
  margin: auto;
  padding: 15px;
 
}
 #introdução {

 color: #fff;
 font-family: 'Courier New', Courier, monospace;

 }
 a.link{
  text-decoration: none;
  background-color: rgba(40, 39, 38, 0.852);
  color: #fff;;
 }
 #projetos {
  padding-top: 300px;
  width: 920px
 }
 .projeto {
  width: 400px; 
  padding: 10px;
  float: right;
 }
 #link{
  text-decoration: none;
  
 }
 