*{
  margin: 0;
  padding: 0;
}
body{
    font: #fff;
    background-color: #181818;
    background-position : top right;
    background-repeat: no-repeat;
    

}
@font-face {
  font-family:'NHL';
  src:url('NHL.ttf');
 
}
a{
  text-decoration: none;
}
#imagens{
  margin:10px;
  
}
h1{
  font-size: 100px;
  font-family:NHL;
  }

#introdução {
    text-align: center;
    margin: auto;
    padding: 15px;
}
#sobre-mim{
  text-align: center;
  margin: auto;
  padding: 15px;
 
}
 #introdução {
 color: #fff;
 font-family: 'Courier New', Courier, monospace;

 }
 a.link{
  text-decoration: none;
  background-color: rgba(40, 39, 38, 0.852);
  color: #fff;;
 }
 #projetos {
  margin-top: 300px;
  padding: 0%;
  border:1px #fff solid
  
 }
 .link-projeto {
  text-decoration: none;


 }
 .projeto {
  width: 30% ; 
  border: 1px #fff solid;
  float: left;
  text-decoration: none;
 }
 #link{
  text-decoration: none;

 }
 .link-projeto.visited{
   text-decoration: none;
   overflow: none; 
   color: #fff; 
 }
 #esquerda{
  float: left ; 
  border: 1px #fff;
  width: 10px;
 } 
