
*{
  margin: 0;
  padding: 0;
}
body{
    background-size: 100%;
    font: #fff;
    background-color: #010107e0;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
@font-face {
  font-family:'NHL';
  src:url('NHL.ttf');
}
h1{
  font-size: 100px;
  font-family:NHL;
  }
a{
  padding: 1px;
  text-decoration: none;
  background-color: rgba(40, 39, 38, 0.852);
  color: #fff;;
 }
.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  font-size: 18px;
  border: solid #fff ;
  border-radius: 500px;
}
#sobre-mim, #introdução {
  margin: 10px;
  text-align: center;
  margin: auto;
  padding: 15px;
}

 #projetos {
  margin-bottom: 50px;
  margin-top: 50px;
  margin: auto, 50px, auto, 50px ;
  align-content: center;
  padding: 0%;
  border:1px #fff solid; }
 
 .link-projeto{
  height: 330px ;
  width: 220px  ;
  float: left;
  margin: 30px ; 
  border: 1px #fff solid;
  align-content: left ;
  overflow: visible;
  font-size: 15px;

}
 .link:hover{
   padding: 5px;
   font-size: 20px;
   transition-delay: 0s;
   transition-duration: 1s;
 }
 .link-projeto:hover{
    font-size: 17px;
    padding: 10px;
    background-color: #2a253e;
    opacity: 75%;
    transition-duration: 1s;
  }
  #quatro{
    background-attachment: fixed;
    width: 100% ;
  }
  #projetos{
    background-color: #d3d3f586;
    width: 100% ;
  }
 