*{
    border: 0 ;
    margin: 0 ;
}
body {
    color: #fff;
    background-color: #6a6969cf;
}
.cabeçalho {
    background-color: rgba(55, 54, 54, 0.798);
}
#redessociais{
    margin-top: 150px;
}
a{
text-decoration: none;
}