body{
    background-color: bisque;
    mix-blend-mode:normal;
    padding: 0;
    margin: 0;
}
#titulo {
    border-radius: 3px;
    padding-top: 17px;
    padding: 1px;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
 
}